<html>
    <head>
        <title>{% block title %} base {% endblock %}</title>
    </head>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% block pills %}
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/info/">Info</a></li>
  <li role="presentation"><a href="/profile/">Resume</a></li>
  <li role="presentation"><a href="https://github.com/cjlim2007">GitHub</a></li>
</ul>
    {% endblock %}
    {% block content %}{% endblock %}
</html>